{{ define "main" }}
    <div class="tips">
        {{ partial "partials/tip.html" (dict "icon" "lungs.svg" "title" "Breathe" "description" "Practice deep breathing exercises.") }}
        {{ partial "partials/tip.html" (dict "icon" "exercise.svg" "title" "Exercise" "description" "Exercise is a great tool to reduce anxiety and stress.") }}
        {{ partial "partials/tip.html" (dict "icon" "friends.svg" "title" "Friends" "description" "Talk to friends about how you are feeling.") }}
        {{ partial "partials/tip.html" (dict "icon" "happy.svg" "title" "Happy" "description" "Take part in something that makes you happy.") }}
        {{ partial "partials/tip.html" (dict "icon" "food.svg" "title" "Food" "description" "Make sure you are eating a well balanced diet.") }}
        {{ partial "partials/tip.html" (dict "icon" "relax.svg" "title" "Relax" "description" "Take time out of your day to relax.") }}
        {{ partial "partials/tip.html" (dict "icon" "diary.svg" "title" "Diary" "description" "Engagine regularly in a thought diary.") }}
        {{ partial "partials/tip.html" (dict "icon" "diary.svg" "title" "PMR" "description" "Practice Progressive Muscle Relaxation.") }}

{{/* https://static.wixstatic.com/media/12a771_5cb7871886b44d22824a88233bab15c4~mv2_d_1600_2420_s_2.jpeg/v1/fill/w_1000,h_1513,al_c,q_90,usm_0.66_1.00_0.01/12a771_5cb7871886b44d22824a88233bab15c4~mv2_d_1600_2420_s_2.jpeg */}}
{{/* https://www.flaticon.com/free-icon/human_2492910?term=muscle&page=1&position=7&page=1&position=7&related_id=2492910&origin=search */}}
    </div>
{{ end }}